@media screen and (max-width: 2500px) {
    .headname {
        width: 820px;
    }
    .buttons {
        margin-top: 20px;
        margin-left:310px;
    }

    .buttons img {
        width: 50px;
        height: 50px;
    }

    .song {
        font-size: 34px;
        bottom: 150px;
    }
    .progress_container 
{
    height: 5px;
    width: 710px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    top: 100px;
    left: 54px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:200px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer;
}
.volume_btn 
{
   
    cursor:pointer;
}

.max_time 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 770px;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 6px;
}
} 

@media screen and (max-width: 1278px) {
    .headname {
        width: 520px;
    }
    .buttons {
        margin-left: 150px;
    }

    .song {
        position: fixed;
        margin-top: 300px;
        left: 260px;
        font-size: 32px;
    }
    .progress_container 
{
   /* margin-top: 90px;*/
    height: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    display: flex;
    position: fixed;
    left: 400px;
    top: 400px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:110px;
    border-radius: 5px;
    background-color: #5E5E5E;
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 390px;
    left: 700px; 
}
.volume_btn 
{
    position: fixed;
    top: 427px;
    left: 670px;
   
    cursor:pointer;
}

.max_time 
{
    font-family:cursive;
    position: fixed;
    top: 450px;
    left: 610px;
    font-size: 13;
}

.timer 
{
    font-family:cursive;
    position: fixed;
    top: 450px;
    left: 352px;
    font-family: cursive;
    font-size: 13;
}

}

/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 998px) {
    .headname {
        position: fixed;
        left: 200px;
        top: 400px;
        width: 520px;
    }
    .buttons {
        margin-left: 100px;
    }

    .song {
        position: fixed;
        margin-top: 300px;
        left: 170px;
    }
    .progress_container 
{
   /* margin-top: 90px;*/
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    display: flex;
    position: fixed;
    left: 260px;
    top: 400px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:130px;
    border-radius: 5px;
    background-color: #5E5E5E;
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 390px;
    left: 570px; 
}
.volume_btn 
{
    position: fixed;
    top: 427px;
    left: 540px;
   
    cursor:pointer;
}

.max_time 
{
    font-family:cursive;
    position: fixed;
    top: 450px;
    left: 470px;
    font-size: 13;
}

.timer 
{
    font-family:cursive;
    position: fixed;
    top: 450px;
    left: 212px;
    font-family: cursive;
    font-size: 13;
}
}

/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .headname {
        left: 150px;
        width: 430px;
    }

    .song {
        position: fixed;
        font-size:22px;
        left: 130px;
        top: 40px;
    }

    .progress_container {
        left: 200px;
    }

    .timer {
        left: 150px;
    }

    .max_time {
        left: 410px;
    }

    .volume_container {
        left: 499px;
        width: 74px;
    }

    .volume_btn {
        left: 470px;
    }
}
/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 375px) {
    .song {
        font-size:17px ;
        left: 20px;
        top: 50px;
    }
    .headname {
        position: fixed;
        left: 20px;
        width: 300px;
    }

    .buttons {
        margin-left: 30px;
        width: 10px;
    }

    .timer {
        font-size: 14px;
        top: 452px;
        left: 31px;
    }

    .progress_container {
        width: 100px;
        left: 70px;
    }

    .max_time {
        left: 173px;
    }
    .buttons {
        margin-left: 30px;
        width: 10px;
    }

    .volume_container {
        left: 246px;
    }

    .volume_btn {
        left: 220px;
    }
}



/* -------------------------------------------------------------------------------------------------*/



/* -------------------------------------------------------------------------------------------------*/

body 
{
    height: 100vh;
    width: 100%;
    background-color:#282828;
    overflow-x: hidden;
    overflow-y: hidden;
}

.audioplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headname
{
    background-color: #181818;
    color: #FFFFFF;
    height:80px;
    border: 5px  #282828;
    outline: rgb(0, 0, 0) solid 2px;
    border-radius: 5px;
    height: 120px;
}

.song 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;   
  /*  font-size: 33px; */
    text-align: center;
    color: #FFFFFF;
    position: fixed;
}

.buttons 
{
    width: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

.next:hover {
    filter: brightness(70%);
}

.volume_btn:hover {
    filter: brightness(70%);
}

.prev:hover {
    filter: brightness(70%);
}

#play:hover {
    filter: brightness(70%);
}

.progress_container 
{
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    position: fixed;
   /* display: flex; */
}

.progress 
    {
        margin-left: 1px;
        background-color:#FFFFFF;
        border-radius: 5px;
        height: 5px;
        width: 0px;
    }
    
.next
 {
    color: #BABABA;
}

.volume_container 
{
    margin-top: 50px;
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
 /*   display: flex; */
    cursor: pointer;
    position: fixed;
}

#volume 
    {
        margin-left: 1px;
        background-color:#FFFFFF;
        border-radius: 5px;
        height: 5px;
    }

.play 
{
    padding-left: 13px;
    padding-right: 13px;
}

.volume_btn 
{
    cursor:pointer;
    position: fixed;
}

.time 
{
    color: #9F9F9F;
    position: fixed;
}


.max_time 
{
    font-family:cursive;
    font-size: 13;
    position: fixed;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    position: fixed;
}