@media screen and (max-width: 2500px) {
    .headname {
        width: 820px;
    }
    .buttons {
        margin-top: 20px;
        margin-left:300px;
    }

    .buttons img {
        width: 50px;
        height: 50px;
    }

    .song {
        font-size: 34px;
        bottom: 150px;
    }
    .progress_container 
{
    height: 5px;
    width: 700px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    top: 100px;
    left: 64px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:200px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer;
    top: 0px;
    left: 600px;
}
.volume_btn 
{
   
    cursor:pointer;
    top: 36px;
    left: 567px;
}

.max_time 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 775px;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 6px;
}
} 

@media screen and (max-width: 1278px) {
    .headname {
        width: 820px;
    }
    .buttons {
        margin-top: 20px;
        margin-left:300px;
    }

    .buttons img {
        width: 50px;
        height: 50px;
    }

    .song {
        font-size: 34px;
        bottom: 150px;
    }
    .progress_container 
{
    height: 5px;
    width: 710px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    top: 100px;
    left: 54px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:200px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer;
    top: 0px;
    left: 600px;
}
.volume_btn 
{
   
    cursor:pointer;
    top: 36px;
    left: 567px;
}

.max_time 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 770px;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 6px;
}

}

/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 998px) {
    .headname {
        width: 820px;
    }
    .buttons {
        margin-top: 20px;
        margin-left:300px;
    }

    .buttons img {
        width: 50px;
        height: 50px;
    }

    .song {
        font-size: 34px;
        bottom: 150px;
    }
    .progress_container 
{
    height: 5px;
    width: 710px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    top: 100px;
    left: 54px;
}
.volume_container 
{
    margin-top: 50px;
    height: 5px;
    margin-left: 40;
    width:200px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer;
    top: 0px;
    left: 600px;
}
.volume_btn 
{
   
    cursor:pointer;
    top: 36px;
    left: 567px;
}

.max_time 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 770px;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 6px;
}
}

/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
    .headname {
        width: 620px;
    }
    .buttons {
        margin-top: 10px;
        margin-left:200px;
    }

    .buttons img {
        width: 50px;
        height: 50px;
    }

    .song {
        font-size: 30px;
        bottom: 150px;
    }
    .progress_container 
{
    height: 5px;
    width: 510px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    top: 100px;
    left: 54px;
}
.volume_container 
{
    height: 5px;
    width:100px;
    background-color: #5E5E5E;
    cursor: pointer;
    top: 0px;
    left: 450px;
}
.volume_btn 
{
   
    cursor:pointer;
    top: 36px;
    left: 422px;
}

.max_time 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 570px;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    top: 90px;
    left: 6px;
}
}
/* -------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 375px) {
    .song {
        font-size:17px ;
        left: 20px;
        top: 50px;
    }
    .headname {
        position: fixed;
        left: 20px;
        width: 300px;
    }

    .buttons {
        margin-left: 30px;
        width: 10px;
    }

    .timer {
        font-size: 14px;
        top: 452px;
        left: 31px;
    }

    .progress_container {
        width: 100px;
        left: 70px;
    }

    .max_time {
        left: 173px;
    }
    .buttons {
        margin-left: 30px;
        width: 10px;
    }

    .volume_container {
        left: 246px;
    }

    .volume_btn {
        left: 220px;
    }
}



/* -------------------------------------------------------------------------------------------------*/



/* -------------------------------------------------------------------------------------------------*/

body 
{
    height: 100vh;
    width: 100%;
    background-color:#282828;
    overflow-x: hidden;
    overflow-y: hidden;
}

.audioplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headname
{
    background-color: #181818;
    color: #FFFFFF;
    height:80px;
    border: 5px  #282828;
    outline: rgb(0, 0, 0) solid 2px;
    border-radius: 5px;
    height: 120px;
}

.song 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;   
  /*  font-size: 33px; */
    text-align: center;
    color: #FFFFFF;
    position: fixed;
}

.buttons 
{
    width: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

.next:hover {
    filter: brightness(70%);
}

.volume_btn:hover {
    filter: brightness(70%);
}

.prev:hover {
    filter: brightness(70%);
}

#play:hover {
    filter: brightness(70%);
}

.progress_container 
{
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
    cursor: pointer; 
    position: fixed;
   /* display: flex; */
}

.progress 
    {
        
        margin-left: 11px;
        background-color:#FFFFFF;
        border-radius: 5px;
        height: 5px;
        width: 0px;
        position: fixed;
        left: 47px;
        top: 98px;
        cursor: pointer;
        color: #FFFFFF !important;
    }
    
.next
 {
    color: #BABABA;
}

.volume_container 
{
    margin-top: 50px;
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
 /*   display: flex; */
    cursor: pointer;
    position: fixed;
}

#volume 
    {
        
        background-color:#FFFFFF;
        border-radius: 5px;
        height: 5px;
        position: fixed;
        top: 48px;
        left: 597px;
        cursor: pointer;
    }

.play 
{
    padding-left: 13px;
    padding-right: 13px;
}

.volume_btn 
{
    cursor:pointer;
    position: fixed;
}

.time 
{
    color: #9F9F9F;
    position: fixed;
}


.max_time 
{
    font-family:cursive;
    font-size: 13;
    position: fixed;
}

.timer 
{
    font-family:cursive;
    font-size: 13;
    position: fixed;
}

.progresss,
.volumedd{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:#FFFFFF;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.progresss::-webkit-slider-thumb, 
.volumedd::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    width: 15px;
    height: 15px;
    background:#181818;
    border: 3px solid #5E5E5E;
    cursor: pointer;
    border-radius:100%;
}

.progresss:hover,
.volemedd:hover {
    opacity: 1.0;
}

.progresss{
    width: 86%;
    margin-left: 11px;
    background-color:#FFFFFF;
    border-radius: 5px;
    position: fixed;
    left: 47px;
    top: 98px;
    cursor: pointer;
    color: #FFFFFF !important;
}

.volumedd{
    width: 25%;
    background-color:#FFFFFF;
    border-radius: 5px;
    height: 5px;
    position: fixed;
    top: 48px;
    left: 597px;
    cursor: pointer;
}